{% extends "base.html" %}
{% block content %}
<h2>Connexion</h2>
<form method="post">
  <label>Nom d’utilisateur :</label>
  <input name="username" required>
  <br>
  <label>Rôle :</label>
  <select name="role">
    <option value="employe">Employé</option>
    <option value="responsable">Responsable</option>
    <option value="gestionnaire">Gestionnaire maison mère</option>
    <option value="logistique">Responsable logistique</option>
  </select>
  <br>
  <button type="submit">Se connecter</button>
</form>
{% if message %}
  <div class="error">{{ message }}</div>
{% endif %}
{% endblock %}
