{% extends "base.html" %}
{% block content %}
<h2>Enregistrer une vente</h2>
{% if message %}
  <div class="error">{{ message }}</div>
{% endif %}
<form method="post">
  <table border="1" cellpadding="5" cellspacing="0">
    <tr><th>ID</th><th>Nom</th><th>Stock</th><th>Prix</th><th>Quantité à vendre</th></tr>
    {% for p in produits %}
      <tr>
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.stock}}</td>
        <td>{{p.price}} $</td>
        <td>
          <input type="number" name="qte_{{p.id}}" min="0" max="{{p.stock}}" value="0" style="width:50px" required>
        </td>
      </tr>
    {% endfor %}
  </table>
  <button type="submit">Valider la vente</button>
</form>
{% endblock %}
